@property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
}

@keyframes spin {
    0% {
        --rotate: 0deg;
    }
    100% {
        --rotate: 360deg;
    }
}

@keyframes gradient-slide {
    0% {
        background-position: 0% 50%; /* Gradiente na posição inicial (esquerda) */
    }
    100% {
        background-position: 100% 50%; /* Gradiente na posição final (direita) */
    }
}



:root{
    --btn-h: 12vh;
    --bth-w: calc(var(--btn-h) * 0.6);
}

body{
    min-height: 100vh;
    background: #212534;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;

}

.btn{
    padding: 1px 5px;
    background: #191c29;
    height: calc(var(--btn-h)*.4);
    width: calc(var(--bth-w)*.8);
    color: rgb(88 199 250 / 100%);
    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
    font-family: cursive;
}

.btn::before{
    content: '';
    width: 114%; /* Aumenta levemente a largura */
    height: 110%; /* Aumenta levemente a altura */
    background-image: linear-gradient(
        var(--rotate), deeppink, deepskyblue 43%, whitesmoke) ;
    border-radius: 8px; /* Levemente maior que o botão */
    position: absolute;
    top: -5%; /* Reposiciona 3px acima */
    left: -7%; /* Reposiciona 3px à esquerda */
    z-index: -1; /* Fica atrás do botão principal */
    animation: spin 1.8s linear infinite;
}

.btn::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
            var(--rotate), deeppink, deepskyblue 43%, whitesmoke) ;
    left: 0;
    top: calc(var(--btn-h)/8);
    z-index: -1;
    margin: 0 auto;
    transform: scale(0.8);
    filter: blur(calc(var(--btn-h)/3));
    opacity: 1;
    transition: opacity 0.5s;
    animation: spin 1.8s linear infinite;
}

.btn:hover::after, .btn:hover::before{
    opacity: 0;
    animation: none;
}

.btn:hover{
    color: rbg(88 199 250 / 100%);
    transition: color 1s;
}

.center {
    display: flex; /* Ativa o Flexbox */
    flex-direction: column; /* Deixa o <h1> em cima das "doors" */
    align-items: center; /* Centraliza o <h1> e as "doors" horizontalmente */
    justify-content: center; /* Centraliza tudo verticalmente */
    gap: 1rem; /* Espaço entre o título e as portas */
    height: 65vh; /* Faz o container ocupar toda a altura da tela */
}

.center h1 {
    font: bold 3rem cursive;
    text-align: center;
    margin: 0;
    background: linear-gradient(to right, gray, deeppink 43%, whitesmoke);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; /* Define o texto como transparente */
    animation: gradient-slide 3s ease-in-out infinite alternate;
    background-size: 200%; /* Faz o gradiente se mover dentro do texto */
}





.doors {
    display: flex; /* Alinha os itens em uma linha */
    gap: 2rem; /* Adiciona espaçamento entre os botões */
    justify-content: center;
    margin-top: 2rem; /* Adiciona espaço acima da seção */
    flex-wrap: wrap;
}


.door {
    padding: 1px 5px;
    background: #191c29;
    height: calc(var(--btn-h)*2);
    width: calc(var(--bth-w)*2);
    color: rgb(88 199 250 / 100%);
    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
    font-family: cursive;
}

.door::before {
    content: '';
    width: 114%;
    height: 110%;
    background-image: linear-gradient(
            var(--rotate), deeppink, deepskyblue 43%, whitesmoke);
    border-radius: 8px;
    position: absolute;
    top: -5%;
    left: -7%;
    z-index: -1;
    animation: spin 1.8s linear infinite;
}

.door::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
            var(--rotate), deeppink, deepskyblue 43%, whitesmoke);
    left: 0;
    top: calc(var(--btn-h)/8);
    z-index: -1;
    margin: 0 auto;
    transform: scale(0.8);
    filter: blur(calc(var(--btn-h)/3));
    opacity: 1;
    transition: opacity 0.5s;
    animation: spin 1.8s linear infinite;
}

.door:hover::after,
.door:hover::before {
    opacity: 0;
    animation: none;
}

.door:hover {
    color: rgb(88 199 250 / 100%);
    transition: color 1s;
}
